# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# all files
[*]
charset = utf-8
continuation_indent_size = 4
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

[*.js]
curly_bracket_next_line = false
quote_type = single
indent_brace_style = BSD KNF
spaces_around_brackets = inside
spaces_around_operators = true

# HTML
[*.html]
quote_type = double
