.DS_Store

.idea/
.nyc_output/

bower_components/
build/
coverage/
game-of-life/
generated/
jspm_packages/
launchConfigurations/
lib-cov/
node_modules/
resources/
unusual-spending/
unusual-spending-vendor/

/capstone-project.iml
/changelog.txt
/index.html
/*.sh

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
