.DS_Store
/index.html
/changelog.txt
/*.sh

.idea/
.nyc_output/
bower_components/
build/
coverage/
dist/
game-of-life/
generated/
node_modules/
resources/
scripts/
server/
slides/
spikes/
unusual-spending/
unusual-spending-vendor/
web/

*.log
.sass-cache
