.DS_Store
.idea
.nyc_output/
coverage/
generated/
node_modules/
bower_components/
dist/
slides/
*.log
.sass-cache
/index.html
resources/
server/
web/
spikes/
game-of-life/
unusual-spending/
unusual-spending-vendor/
