h1
  margin-left: 20px;

.md-headline
  margin-top: 15px;

.retail-price
  text-decoration: line-through;

md-card-title-media > img
  height: 120px !important;
  width: auto !important;
  margin-left: auto;
  margin-right: 20px;
