<div>
  <h1>Cart Details</h1>
  <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch="">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Medium</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Add</md-button>
    </md-card-actions>
  </md-card>
</div>

