<div>
  <h1>Cart Details</h1>
  <div ng-if="vm.products.length === 0" style="margin-left: 20px;">
    <p><span rel="cart-empty-message">Your shopping cart is empty.</span>
  </div>
  <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch=""
           ng-if="vm.products.length > 0" ng-repeat="product in vm.products track by $index">
    <md-card-title>
      <md-card-title-media>
        <img rel="thumbnail" ng-src="{{product.image.src}}" class="md-card-image" alt="Washed Out">
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline" rel="product-name">{{product.title}}</span>
      </md-card-title-text>
      <md-card-content>
        Regular Price: <span class="retail-price" rel="retail-price">{{vm.getPrice(product) | currency}}</span>
        <br>
        Your Price: <span class="discounted-price" rel="discounted-price">{{vm.getDiscountedPrice(product) | currency}}</span>
        <br>
        You Save: <span class="saving" rel="saving">{{vm.getSaving(product)| currency}}</span>
      </md-card-content>
    </md-card-title>
  </md-card>

  <div class="totals-container" ng-if="vm.products.length > 0">
    <p>Total Retail Price: <span class="retail-price" rel="total-retail-price">{{vm.getRetailTotal() | currency}}</p>
    <p>Total Discounted Price: <span class="discounted-price" rel="total-discounted-price">{{vm.getDiscountedTotal() | currency}}</p>
    <p>Total Savings: <span class="saving" rel="total-saving">{{vm.getSavingTotal() | currency}}</p>
  </div>

</div>

