@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container
  border-radius: 4px
  margin-bottom: 16px
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1)
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1)
  position: relative
  padding-bottom: 0

.layout-content
  max-width: 960px
  margin: 16px
  box-sizing: border-box

div.app
  min-width:300px;
  width: vw;
  height: 100vh;
  min-height: 100%;
  margin: 0;
  overflow: auto;

div.view-port
  overflow: auto;
  height: 100vh;

md-toolbar h3
  margin: auto
  font-weight: 500

md-list-item > button
  width:100%
  text-align:left !important

.content
  padding-left: 40px
  padding-right: 40px
  padding-top: 5px

.material-icons
  display: inline-block
  position: relative
  vertical-align: middle

.material-icons.md-18
  font-size: 18px
  height: 18px
  width: 18px

.material-icons.md-24
  font-size: 24px
  height: 24px
  width: 24px

.material-icons.md-36
  font-size: 36px
  height: 36px
  width: 36px

.material-icons.md-48
  font-size: 48px
  height: 48px
  width: 48px

.material-icons.md-dark
  color: rgba(0, 0, 0, 0.54)
.material-icons.md-dark.md-inactive
  color: rgba(0, 0, 0, 0.26)

.material-icons.md-light
  color: rgba(255, 255, 255, 1)
.material-icons.md-light.md-inactive
  color: rgba(255, 255, 255, 0.3)
