md-content.tabs
  md-tab-body
    div.swap
      position relative
      min-height 400px
      [ui-view].ng-enter
        opacity 0

      [ui-view].ng-enter-active
        opacity 1

      [ui-view].ng-leave
        -webkit-animation: 1s md-tab-content-hide
        animation: 1s md-tab-content-hide

      [ui-view].ng-leave-active
        transition: visibility 0s linear
        transition-delay: 0s
        visibility: hidden

      [ui-view].ng-enter
      [ui-view].ng-leave
        transition all ls 1s ease-in-out

