<div>
  <h1>Product Details</h1>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <md-card>
      <img rel="thumbnail" ng-src="{{vm.products[0].image.src}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" rel="product-name">{{vm.products[0].title}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        Regular Price: <span class="retail-price" rel="retail-price">{{vm.products[0].variants[0]['price']}}</span>
        <br>
        Your Price: <span class="discounted-price" rel="discounted-price">{{vm.products[0].variants[0]['price'] * 0.8}}</span>
        <br>
        You Save: <span class="saving" rel="saving">{{vm.products[0].variants[0]['price'] * 0.2}}</span>
        <br><br>
        <span rel="available-quantity">{{vm.products[0].variants[0]['inventory_quantity']}}</span> units available
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <add-to-cart product="vm.products[0]"></add-to-cart>
      </md-card-actions>
      <md-card-content>
        <p>
          {{vm.products[0]['body_html']}}
        </p>
      </md-card-content>
    </md-card>
  </md-content>
</div>
