<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" rel="product-title">{{product.title}}</span>
      <span class="md-subhead" rel="product-description">{{product.vendor}}</span>
      <span class="md-subhead" rel="product-price">{{product.variants[0].price}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media"><img ng-src="{{product.image.src}}"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
  </md-card-actions>
</md-card>
